.box {
    width: calc(100vw - 200px);
    background: #dddddd;
    position: relative;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    padding-left: 1em;
    box-sizing: border-box;
  }
  
  .box::before {
    content: "";
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: absolute;
    top: -1px;
    left: -25px;
    margin: 0 auto;
    width: calc(100vw - 150px);
    height: 48px;
  }
  
  .box::after {
    content: "";
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: -24px;
    left: -1px;
    margin: 0 auto;
    width: calc(100vw - 202px);
    height: 98px;
  }
  