.row {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .type {
    color: #52813a;
    flex-grow: 3;
    border-radius: 3px;
    border-color: rgba(52, 96, 190);
  }
  
  .button {
    color: #52813a;
  }
  
  .type:hover,
  .button:hover {
    color: red;
  }
  