* {
    font-family: "Source Sans Pro", sans-serif;
    color: #808080;
    line-height: 4em;
    margin: 10px;
  }
  
  h1 {
    color: #d87a8a;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    font-size: 0.8em;
  }
  
  .row-checkbox {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 1em;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .custom-checkbox + label {
    width: 16em;
    user-select: none;
    border: 1px solid #c3c3c3;
    border-radius: 2em;
    text-align: center;
    margin: 10px 30px;
  }
  
  .custom-checkbox:checked + label {
    background: #212a4c;
    color: white;
  }
  
  .custom-checkbox:checked + label::after {
    content: "\2003✓";
  }
  
  .row-textarea {
    display: flex;
  }
  
  .row-textarea > input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #c3c3c3;
    outline: 0;
  }
  
  .send-button {
    justify-content: center;
    flex-grow: 1;
    color: white;
    background: #d87a8a;
    border: none !important;
    margin: 0 !important;
    border-radius: unset !important;
    font-weight: 700;
  }
  
  .row-bottoms {
    display: flex;
  }
  
  .send-button:hover {
    transition: 2s;
    background: #212a4c;
  }