.gauntlet {
    display: block;
    width: 25%;
    position: relative;
  }
  
  table {
    display: grid;
    width: 100%;
    height: 100vh;
  }
  
  .man {
    width: 100%;
  }
  
  .gauntlet:hover ~ table tbody tr:nth-child(2n) td:nth-child(2n),
  .gauntlet:hover ~ table tbody tr:nth-child(2n + 1) td:nth-child(2n + 1) {
    opacity: 0%;
  }
  